<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="watchRoot" value="./" />
    <add key="devRoot" value="//fmg_cifs1/WebDevelopment/puglisij/webserver"></add>
    <add key="devPaths" value="Views,"/>
    <add key="watchPaths" value="Views,wwwroot"></add>
  
  </appSettings>
</configuration>