<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="watchRoot" value="./Watch" />
    <add key="watchPaths" value=""></add>
    <add key="devRoot" value="./Views"></add>
    <add key="devPaths" value=""/>
    <add key="excludedPaths" value="**/*.tmp, **/*.buzz"/>
  </appSettings>
</configuration>